.form-container h1 {
  text-align: center;
  font-size: 30px;
  color: rgb(234, 28, 28);
}

.input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-field input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 20px 45px 20px 25px;
}

.input-field input::placeholder {
  color: rgb(117, 92, 63);
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: grey;
}

.recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 10px 0 20px;
}

.recall-forget label {
  color: rgb(255, 0, 140);
}

.recall-forget input {
  margin-right: 5px;
}

.recall-forget a {
  color: violet;
  text-decoration: none;
}

.recall-forget a:hover {
  text-decoration: underline;
}

.form-container button {
  width: 100%;
  height: 45px;
  background: #1d5aa0;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 10px;
}

.signup-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 10px;
}

.signup-link p a {
  color: #48417a;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
}

.signup-link p a:hover {
  text-decoration: underline;
}
