/* imagem.css */

/* Estilo do container que envolve as imagens */
.image-container {
    width: 400px; /* Largura do container de imagens */
    height: 435px; /* Altura do container de imagens */
    background-color: #9BA17F; /* Cor de fundo */
    backdrop-filter: blur(8px); /* Efeito de desfoque no fundo */
    border-radius: 20px; /* Bordas arredondadas */
    overflow: hidden; /* Esconde o conteúdo que sai da área do container */
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Flexbox para alinhar as imagens */
    justify-content: center; /* Alinha as imagens no centro horizontal */
    align-items: center; /* Alinha as imagens no centro vertical */
    position: relative; /* Para posicionar as imagens dentro */
  }
  
  /* Estilo das imagens específicas */
  .img-menina, 
  .img-patinha, 
  .img-pc {
    position: absolute; /* As imagens são posicionadas dentro do container */
    object-fit: contain; /* Garante que a imagem seja redimensionada sem cortar */
    pointer-events: none; /* Garante que as imagens não interfiram na interação com outros elementos */
  }
  
  /* Estilo da imagem da menina */
  .img-menina {
    max-width: 100%; /* A imagem ocupa até 100% da largura */
    max-height: 100%; /* A imagem ocupa até 100% da altura */
    z-index: 3; /* Garante que a imagem da menina fique no topo */
  }
  
  /* Estilo da imagem das patinhas */
  .img-patinha {
    max-width: 100%; /* A imagem ocupa até 100% da largura */
    max-height: 70%; /* A imagem ocupa no máximo 70% da altura */
    opacity: 0.4; /* Transparência para dar um efeito sutil */
    z-index: 1; /* Fica atrás da imagem da menina */
  }
  
  /* Estilo da imagem do notebook */
  .img-pc {
    max-width: 90%; /* A imagem ocupa até 90% da largura */
    max-height: 70%; /* A imagem ocupa no máximo 70% da altura */
    z-index: 2; /* Fica entre as imagens das patinhas e da menina */
  }
  