/* imagem.css */

  /* Estilo das imagens específicas */
  .gato-wrapper {
    position: absolute;
    top: -31.5vw; /* sobe proporcionalmente à tela */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
  }
  
  .img-gato {
    width: clamp(200px, 25vw, 600px); /* Mínimo 200px, ideal 25% da viewport, máximo 600px */
    height: auto;
    object-fit: contain;
  }
  