/* textos.css */

/* Estilo para o link de 'Lembre de mim' e 'Esqueceu sua senha?' */
.recall-forget {
    display: flex; /* Flexbox para organizar os itens */
    justify-content: space-between; /* Espaço entre os itens */
    font-size: 14.5px; /* Tamanho da fonte */
    margin: -10px 0 20px; /* Espaçamento */
  }
  
  .recall-forget label {
    color: rgb(255, 0, 140); /* Cor do texto */
  }
  
  .recall-forget input {
    margin-right: 5px; /* Espaço à direita do checkbox */
  }
  
  .recall-forget a {
    color: violet; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado do link */
  }
  
  .recall-forget a:hover {
    text-decoration: underline; /* Adiciona sublinhado quando o link é focado */
  }
  
  /* Estilo do link de 'Cadastrar' */
  .signup-link {
    font-size: 14.5px; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto no centro */
    margin: 20px 0 10px; /* Espaçamento */
  }
  
  .signup-link p a {
    color: #48417a; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: 600; /* Peso da fonte */
    margin-left: 10px; /* Espaço à esquerda */
  }
  
  .signup-link p a:hover {
    text-decoration: underline; /* Adiciona sublinhado no hover */
  }