.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/src/assets/Fundo-de-tela.svg');
  background-color: #687351;
  padding: 20px;
  gap: 10px;
  overflow-y: auto;
  position: relative;
}

.gatinho-wrapper {
  position: absolute;
  top: 40px; /* ou ajuste como quiser */
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.gatinho-topo {
  width: 90px;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #687351;
}

/* Novo estilo para o <form> que substitui .container */
form {
  width: 700px;
  height: 650px;
  background-color: #e8e4db;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
}


form.container {
  position: relative;
  margin-top: 80px; /* deixa espaço para o gatinho acima */
}

/* Scroll personalizado no formulário */
form::-webkit-scrollbar {
  width: 8px;
}

form::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #776f6f;
}
h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #776f6f;
}
.input-field {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 0.3rem !important; 
  margin-top: 1.9rem !important;
}

.input-field input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  background-color: #fff;
  outline: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.input-field .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
  font-size: 1rem;
}

.button-field {
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  max-width: 400px;
}

.button-field button {
  width: 100%;
  padding: 12px;
  background-color: #687351;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-field button:hover {
  background-color: #9ba17f;
}

.login-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link a {
  color: #3f51b5;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
