.container {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15); /* apenas para identificar o campo do login */
    backdrop-filter: blur(10px); /* apenas para identificar o campo do login */
    padding: 40px;
    border-radius: 10px;
    margin-left: 35.6%;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color:black
}

.container .input-field{ 
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

/* Customizacao da caixa do email e senha */
.input-field input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    outline: none; 
    font-size: 16px;
    padding: 20px 25px;
}

.input-field input::placeholder {
    color: rgb(117, 92, 63);
}

/*Customizacao dos icons*/
.input-field .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: grey;
}

.container .recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.recall-forget label {
    color: rgb(255, 0, 140);
}

.recall-forget input {
    margin-right: 5px;
    margin-top: 5px; /*ADICIONEI ESSA MARGEM PRA SEPARAR O LEMBRE DE MIM DO CAMPO SENHA*/
    text-decoration: none;
}

.recall-forget a {
    color: violet;
    text-decoration: none;
    margin-top: 5px; /*ADICIONEI ESSA MARGEM PRA SEPARAR O LEMBRE DE MIM DO CAMPO SENHA*/
  }

.recall-forget a:hover{
    text-decoration: underline;
}
  
  .container button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-shadow: none;
    margin-top: 10px;
  }
  
  .container .signup-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 10px;
    text-shadow: none;
  }
  
  /*Botao de cadastrar*/
  .signup-link p a {
    color: #48417a;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px; /*Adicionei esse para levar o botao mais para a direita*/
  }
  
  .signup-link p a:hover {
    text-decoration: underline;
  }

  .img-menina {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 120px;
  }
  
  .img-patinhas {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 80px;
  }
  
  .img-pc {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 90px;
  }
  
  .img-rodinha {
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 60px;
  }
  